@import "tailwindcss";

/* ajustes leves */
:root { scroll-behavior: smooth; }
html, body { min-height: 100%; }
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;           /* anti scroll horizontal */
}

@layer base {
  html {
    font-family: "Manrope", ui-sans-serif, system-ui, -apple-system,
                 "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
                 "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
                 "Noto Color Emoji";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* resets que não conflitam com .h-full */
  img, svg, canvas { display:block; max-width:100%; height:auto; }
  /* NÃO aplicar height:auto no vídeo globalmente */
  video { display:block; max-width:100%; }

  /* ajuda quando <main> estiver dentro de flex/grid */
  main { min-width: 0; }
}
