---
/* Página inicial */
import Layout from '../layouts/Layout.astro'
import Preloader from '../components/Preloader.vue'
import HeroScroll from '../components/HeroScroll.vue'

// usar assets via import garante path correto no build
import capa from '../assets/hero/capa.webp?url'
import poster from '../assets/hero/capa-poster.jpg?url'

import ServicesSection from '../components/ServicesSection.vue'
import JourneyCreative from '@/components/JourneyCreative.vue'
import Testimonials from '@/components/Testimonials.vue'
import ContactWhats from '@/components/ContactWhats.vue'
import Footer from '@/components/Footer.vue'
---

<Layout title="Direção criativa — branding, identidade e conteúdo">
  <div id="top"></div>

  <Preloader client:load />

  <!-- Hero -->
  <HeroScroll
  client:load
  titulo="Digital Feito À Mão"
  subtitulo="Cuidamos do seu digital com o cuidado, planejamento e impacto. Lapidando sua marca na internet delicadamente, como se fosse à mão.Estúdio criativo artesanal com execução premium."
  imageSrc={capa}
  poster={poster}
  videoSources={{ mp4: '/videos/hero.mp4' }}
  overlay={88}
  forceVideo={true}
  titleOffsetVW={-6}
/>

  <section id="services">
    <ServicesSection client:visible />
  </section>

  <section id="jornada">
    <JourneyCreative client:visible />
  </section>

  <section id="depoimentos">
    <Testimonials client:visible />
  </section>

  <section id="contato">
    <ContactWhats client:visible />
  </section>

  <Footer
    client:visible
    navPrimary={[
      { label: 'Início', href: '/' },
      { label: 'Projetos', href: '/projetos' },
      { label: 'Serviços', href: '/servicos' },
      { label: 'Contato', href: '/contato' },
    ]}
    infoNav={[
      { label: 'Políticas', href: '/politicas' },
      { label: 'Termos', href: '/termos' },
    ]}
    social={[
      { label:'Instagram', href:'https://instagram.com/denisc0de' },
      { label:'X (Twitter)', href:'https://x.com/DenisCode_' },
      { label:'YouTube', href:'https://youtube.com/@odeniscode' },
      { label:'GitHub', href:'https://github.com/denisfelipe93' },
    ]}
  />
</Layout>
